body {
    background-color: lightslategray;
    text-align: center;
    font-family: "Segoe UI", cursive, sans-serif;
}

h1 {
    color: cyan;
    font-family: Consolas, monospace, sans-serif, bold;
    text-align: center;
}

h3 {
    color: cyan;
    font-family: Consolas, monospace, sans-serif, bold;
}

h5 {
    color: cyan;
    font-family: Consolas, monospace, sans-serif, bold;
}

p {
    display: flex;
}

table {
    text-align: center;
    margin: 0 auto;
}

hr {
    border-style: dotted none none;
    border-width: 4px;
    color: midnightblue;
    horiz-align: center;
    margin-top: 1.5%;
    width: 5%;
}

.links {
    color: cyan;
    text-decoration: none;
    font-family: Consolas, monospace, sans-serif, bold;
}

.links:hover {
    color: darkgrey;
}

.listElements {
    display: inline-block;
    width: 80px;           // this is the one responsible for creating a space between the list elements
}

.backgroundImages {
    position: absolute;
    top: 20%;
}

#topDiv {
    background-color: lightslategray;
    margin-top: 0;
}

#personalPhoto {
    border-radius: 100%;
    text-align: center;
    height: 180px;
    width: 175px;
}

#navList {
    display: flex;
    right: 1%;
    list-style-type: none;
    flex-direction: row;
    margin: 1% 1.5%;
    position: absolute;
}

/* version 1 */ /*
#hobbiesList {
    list-style-type: circle;
    margin: 0 auto;
    text-align: left;
    width: 30%;
    position: absolute;
    left: 40%;
}*/
/* version 2 */
#hobbiesList {
    list-style-type: none;
    text-align: center;
    position: absolute;
    left: 32%;
}

#cloudImg1 {
    left: 20%;
    top: 10%
}

#cloudImg2 {
    right: 20%;
    top: 30%;
}

#mountainImg {
    top: +30%;
    left: -10%;
}
